<h2>About Us</h2>
<p>
	The <a target="_blank" href="https://railstutorial.org/">Ruby on Rails Tutorial</a> is a project to make a book and screencasts to
</p>
<p>
	teach web development with <a target="_blank" href="http://rubyonrails.org/">Ruby on Rails<a/>. This is the sample application for the tutorial.
<p>
<p>
	<em>From David:</em>
</p>
<p>
	I'm alright with plugging an ad for his book. I'm thankful. I'm glad. <a target="_blank" href="http://www.youtube.com/watch?v=_7N49rkUQOw">Glad, glad, glad, glad, glad</a>!
</p>

<a target="_blank" href="http://makeagif.com/fxF0D1" title="gladgladgladgladglad on Make A Gif"><img src="http://cdn.makeagif.com/media/1-07-2014/fxF0D1.gif" alt="gladgladgladgladglad"></a>