<% provide :title, "Help" %>
<h1>Help</h1>
<p>
	Get help on this Ruby on Rails tutorial at
	<a target="_blank" href="http://railstutorial.org/help">this webpage</a>. 
</p>
<p>
	...
</p>
<p> Just kidding. You should probably go to <a target="_blank" href="http://www.stackoverflow.com">SO</a>.
</p>
<p>To get help on this sample app, see the <a target="_blank" href="http://railstutorial.org/book">Rails Tutorial book</a>.
<p>
<p>This Sample_App was made by following the tutorial written by <a target="_blank" href="https://github.com/mhartl">Michael Hartl</a>.
</p>
